<div>


  <mat-card class="card card-5" style="max-width: 610px;">
    <mat-card-title style="color: #ef3d3d;">Cadastro de Receitas</mat-card-title>

    <div style="display: flex;">
      <mat-card class="cadastro-card">

        <form [formGroup]="formulario" class="example-form">
          <mat-form-field  class="example-full-width" style="margin-right: 30px;width: 50%" appearance="fill">
            <mat-label>Nome</mat-label>
            <input formControlName="nome" matInput>
            <mat-error *ngIf="nome.invalid">Campo Obrigatório</mat-error>

          </mat-form-field>

          <mat-form-field style="width: 100%;" class="example-full-width" appearance="fill">
            <mat-label>Descrição</mat-label>
            <input formControlName="descricao" matInput>
            <mat-error *ngIf="descricao.invalid">Campo Obrigatório</mat-error>

          </mat-form-field>

          <mat-form-field style="width: 100%;" class="example-full-width" appearance="fill">

            <mat-label>Ingredientes</mat-label>
            <textarea formControlName="ingredientes" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            <mat-error *ngIf="ingredientes.invalid">Campo Obrigatório</mat-error>

          </mat-form-field>

        </form>

        <mat-card-actions style="display: flex;justify-content: flex-end;">
          <button (click)="cadastrar()" mat-raised-button color="warn">Salvar</button>
        </mat-card-actions>
      </mat-card>
    </div>


    <br>
    <br>


    <mat-form-field style="margin-left: 20px;" appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <table style="width: 95%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="Nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.Nome}} </td>
      </ng-container>

      <ng-container matColumnDef="Descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td class="teste" mat-cell *matCellDef="let element"> {{element.Descricao}} </td>
      </ng-container>

      <ng-container matColumnDef="Ingredientes">
        <th mat-header-cell *matHeaderCellDef> Ingredientes </th>
        <td class="teste" mat-cell *matCellDef="let element"> {{element.Ingredientes}} </td>
      </ng-container>

      <ng-container matColumnDef="DataCriacao">
        <th mat-header-cell *matHeaderCellDef> Data de Criação </th>
        <td class="teste" mat-cell *matCellDef="let element"> 26/10/2021 </td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon aria-hidden="false" style="color:red;margin-right: 5px;" aria-label="Example home icon">delete
            </mat-icon>

          </button>
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">

            <mat-icon aria-hidden="false" style="color:black" aria-label="Example home icon">edit</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhuma receita cadastrada</td>
      </tr>

    </table>

  </mat-card>
</div>